terraform/credential
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/ssh/
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate.backup
terraform/terraform-files/credential
terraform/terraform-files/ssh